@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Open+Sans:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap');
@font-face {
    font-family: 'Avenir Next Rounded';
    src: url('../fonts/Avenir/AvenirNextRoundedStd-Reg.ttf');
}

@font-face {
    font-family: 'Avenir Next Rounded Bold';
    src: url('../fonts/Avenir/AvenirNextRoundedStd-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/Myriad/MYRIADPRO-REGULAR.woff');
}

@font-face {
    font-family: 'Myriad Pro Bold';
    src: url('../fonts/Myriad/MYRIADPRO-BOLD.woff');
    font-weight: bold;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/Proxima/Fontspring-DEMO-proximanova-regular.otf');
}

@font-face {
    font-family: 'Proxima Nova Bold';
    src: url('../fonts/Proxima/Fontspring-DEMO-proximanova-bold.otf');
    font-weight: bold;
}