/* header */

header {
  width: 100%;
  height: 8em;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .header-content {
  width: 67%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .header-content .logo img {
  width: 100%;
  object-fit: cover;
}

header .header-content .menu ul {
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

header .header-content .menu ul li a {
  font-size: 14px;
  line-height: 14px;
  color: #666666;
  font-weight: bold;
  font-family: 'Georgia';
}

header .header-content .menu ul li p {
  font-size: 11px;
  line-height: 14px;
  color: #b7b7b7;
  font-family: 'Tahoma';
}

/* section-2 */

.section-2 {
  width: 100%;
  height: 21em;
  background: #272727;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.section-2 .section-2-image {
  width: 67%;
  height: 21em;
  border: 0.1em solid #c6c6c6;
  border-radius: 1em;
  overflow: hidden;
  position: absolute;
  top: 1.4em;
}

.section-2 .section-2-image::after {
  content: '';
  display: table;
  clear: both;
}

.section-2 .section-2-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* main */

main {
  width: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* main - title */

main .title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 53px 0 21px 0;
  gap: 15px;
}

main .title h2 {
  color: #000000;
  font-weight: bold;
  font: 24px 'Georgia';
  text-align: center;
}

main .title hr {
  width: 100%;
  border: 0.1em solid #e5e5e5;
}

/* main - section-3 */

main .section-3 {
  width: 67%;
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

main .section-3 .article {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
}

main .section-3 .article .article-title h3 {
  letter-spacing: 1px;
  color: #11719e;
  font: 21px 'Georgia';
}

main .section-3 .article .article-title p {
  color: #8c8c8c;
  font: 12px 'Helvetica';
}

main .section-3 .article .article-image {
  width: 100%;
  border: 5px solid #f3f3f3;
}

main .section-3 .article .article-image img {
  width: 100%;
  object-fit: cover;
}

main .section-3 .article .article-text p {
  letter-spacing: 1px;
  line-height: 18px;
  color: #3e3e3e;
  font: 13px 'Helvetica';
}

main .section-3 .article .article-button .learn-more {
  color: #016999;
  font: 12px 'Helvetica';
  border: 1px solid #d8d8d8;
  background: #e8e8e8;
  padding: 10px 7px 10px 12px;
  border-radius: 3px;
}

main .section-3 .article .article-button .learn-more i {
  color: #096897;
  margin-left: 64px;
}

main .section-3-line {
  width: 67%;
  margin: 35px 0 42px 0;
  border-color: #e5e5e5;
}

/* main - section-4 */

main .section-4 {
  width: 67%;
  display: flex;
  justify-content: space-between;
  gap: 1.5em;
}

main .section-4 section {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main .section-4 section .section-title h2 {
  line-height: 14px;
  color: #444444;
  font: 18px 'Georgia';
}

main .section-4 section hr {
  width: 100%;
  border: 1px dashed #d3d3d3;
}

main .section-4 section p {
  line-height: 14px;
  color: #444444;
  font: 12px 'Helvetica';
}

main .section-4 section .icons {
  display: flex;
  justify-content: space-between;
}

main .section-4 section .icons img {
  width: 50px;
  height: 50px;
}

main .section-4 section .section-title-2 h2 {
  line-height: 14px;
  color: #444444;
  font-weight: bold;
  font: 18px 'Gill Sans';
}

main .section-4 section input {
  line-height: 14px;
  color: #d4d4d4;
  font: 10px 'Verdana';
  border: 1px solid #cfcfcf;
  border-radius: 5px;
  padding-left: 11px;
  width: 100%;
  height: 31px;
}

main .section-4 section .text-area {
  width: 100%;
  padding-top: 14px;
  padding-bottom: 132px;
  height: 132px;
}

main .section-4 section .learn-more {
  color: #fff;
  font: 12px 'Helvetica';
  border: 1px solid #d8d8d8;
  background: #3971ac;
  padding: 10px 7px 10px 13px;
  border-radius: 5px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
  width: 163px;
}

main .section-4 section .learn-more i {
  color: #fff;
  /* margin-left: 64px; */
}

main .section-4 section article {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

main .section-4 section .article-image {
  width: 60px;
  height: 60px;
  border: 1px solid #cfcfcf;
  padding: 6px;
  background: #f0f0f0;
  border-radius: 5px;
}

main .section-4 section article p {
  line-height: 14px;
  color: #444444;
  font: 12px 'Helvetica';
}

main .section-4 section .article-line {
  margin: 9px 0 14px 0;
}

/* footer */

footer {
  width: 100%;
  height: 25vh;
  background: #333333;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5em;
}

footer .footer-content {
  width: 67%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .footer-content .content-1 {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.6em;
}

footer .footer-content .content-1 p {
  line-height: 10px;
  color: #999999;
  font: 11px 'Helvetica';
}

footer .footer-content .content-1 ul {
  display: flex;
  gap: 0.5em;
}

footer .footer-content .content-1 ul li {
  border-right: 1px solid #999999;
  padding-right: 0.3em;
}

footer .footer-content .content-1 ul li:last-child {
  border: none;
}

footer .footer-content .content-1 ul li a {
  color: #999999;
}

footer .footer-content .content-2 {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: start;
}

footer .footer-content .content-2 p {
  color: #999999;
  font: 11px 'Helvetica';
}
