/* header */

header {
  width: 100%;
  height: 8em;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .header-content {
  width: 67%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .header-content .logo img {
  width: 100%;
  object-fit: cover;
}

header .header-content .menu ul {
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

header .header-content .menu ul li a {
  font-size: 14px;
  line-height: 14px;
  color: #666666;
  font-weight: bold;
  font-family: 'Georgia';
}

header .header-content .menu ul li p {
  font-size: 11px;
  line-height: 14px;
  color: #b7b7b7;
  font-family: 'Tahoma';
}

/* section-2 */

.section-2 {
  width: 100%;
  height: 21em;
  background: #272727;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.section-2 .section-2-image {
  width: 67%;
  height: 21em;
  border: 0.1em solid #c6c6c6;
  border-radius: 1em;
  overflow: hidden;
  position: absolute;
  top: 1.4em;
}

.section-2 .section-2-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* main */

main {
  width: 100%;
  height: 100vh;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* title */

main .title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 53px 0 21px 0;
  gap: 15px;
}

main .title h2 {
  color: #000000;
  font-weight: bold;
  font: 24px 'Georgia';
  text-align: center;
}

main .title hr {
  width: 67%;
  border: 0.1em solid #e5e5e5;
}

/* section-3 */

main .section-3 {
}

main .section-3 .articles {
}

main .section-3 .articles .article {
}
