*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: yellowgreen;
}
header{
    width: 100%;
    background-color: #fff;
    text-align: center;
    padding: 2.3em 0 1.5em 0;
}
nav ul li{  
    list-style: none;
    color: #b7b7b7;
    border-left: 1px dashed #d6d6d6;
    font-size: 11px;
    line-height: 14px;
    font-family: "Tahoma";
    text-align: left;
    
}
nav ul li a{
    display: block;
    text-decoration: none;
    color: #666;
    font-size: 14px;
    line-height: 14px;
    font-weight: bold;
    font-family: "Georgia";
}
.black{
    width: 100%;
    height: 21em;
    background: #181818;
}
@media screen and (min-width: 768px) {
    header{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    nav ul{
        display: flex;
    }
    nav ul li{
        padding: 0 0.6em 0.4em 0.6em;
    }
    .logo{
        /* margin-right: 6.7em; */
    }
    nav{
        /* margin-right: 21em; */
    }
}