@media only screen and (min-width: 992px) {
  /* cards-2 section */
  .container .cards-2 {
    width: 100%;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.1rem;
    gap: 1.5rem;
  }
  .container .cards-2 .card {
    width: 44%;
    height: 37vh;
    border-radius: 1rem;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 2.2rem;
  }
  .container .cards-2 #card-1 {
    background-color: #eff6fb;
    background-image: url("../img/atb_productpage_atbcard_header_single-300x233.png");
    background-repeat: no-repeat;
    background-position: left 93% bottom 0%;
  }
  .container .cards-2 #card-2 {
    background-image: url("../img/atb_productpage_atbcard_premium_header_double-300x233.png"),
      linear-gradient(to right, #000, #a0a0a0, #bfbfbf);
    background-repeat: no-repeat;
    background-position: left 93% top 0%;
  }
  .container .cards-2 .card .card-elements {
    width: 33%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    background: transparent;
  }
  .container .cards-2 .card .card-elements .btn {
    width: 100%;
    padding: 0 1rem;
    border-radius: 0.5rem;
    text-align: center;
    border: none;
    font-family: "Inter", sans-serif;
    font-size: 1.125em;
    padding: 1rem 0;
    background-size: auto;
    cursor: pointer;
  }
  .container .cards-2 .card .card-elements #card-1-btn {
    background-color: rgb(244, 201, 0);
    color: rgb(111, 11, 187);
  }
  .container .cards-2 .card .card-elements #card-2-btn {
    background-color: #000;
    color: #fff;
  }
  .container .cards-2 .card .card-elements .card-title {
    font-family: "Inter", sans-serif;
    font-size: 1.5em;
    font-weight: 500;
    color: #000;
    line-height: 1.3em;
    word-wrap: break-word;
    font-weight: 700;
  }
  .container .cards-2 .card .card-elements #card-title-2 {
    color: #fff;
  }
}
