@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* cards-2 section */

html,
body {
  position: relative;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
}

@media only screen and (max-width: 770px) {
  .container .cards-2 {
    display: none;
  }
}

@media only screen and (min-width: 770px) and (max-width: 786px) {
  .container .cards-2 {
    /* padding: 1rem 2rem 3rem 2rem; */
    max-width: 100%;
    /* height: 45vh; */
    /* height: auto; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    padding: 1rem 0;
    gap: 1rem;
  }
  .container .cards-2 .card {
    width: 100%;
    height: auto;
    border-radius: 1rem;
    display: flex;
    /* justify-content: center; */
    align-items: flex-start;
    /* margin: auto; */
    padding-left: 2.2rem;
  }
  .container .cards-2 #card-1 {
    background-color: #eff6fb;
    /* background-image: url('../img/atb_productpage_atbcard_header_single-300x233.png'); */
    background-repeat: no-repeat;
    background-position: left 93% bottom 0%;
    height: 60vh;
  }
  .container .cards-2 #card-2 {
    /* background-image: url('../img/atb_productpage_atbcard_premium_header_double-300x233.png'),
      linear-gradient(to right, #000, #a0a0a0, #bfbfbf); */
    background-image: linear-gradient(to right, #000, #a0a0a0, #bfbfbf);
    background-repeat: no-repeat;
    background-position: left 93% top 0%;
    height: 39vh;
    margin: auto;
  }
  .container .cards-2 .card .card-elements {
    width: 33%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    background: transparent;
  }
  .container .cards-2 .card .card-elements .btn {
    width: 100%;
    padding: 0 1rem;
    border-radius: 0.5rem;
    text-align: center;
    border: none;
    font-family: "Inter", sans-serif;
    font-size: 1.125em;
    padding: 1rem 0;
    background-size: auto;
    cursor: pointer;
  }
  .container .cards-2 .card .card-elements #card-1-btn {
    background-color: rgb(244, 201, 0);
    color: rgb(111, 11, 187);
  }
  .container .cards-2 .card .card-elements #card-2-btn {
    background-color: #000;
    color: #fff;
  }
  .container .cards-2 .card .card-elements .card-title {
    width: 100%;
    font-family: "Inter", sans-serif;
    font-size: 1.5em;
    font-weight: 500;
    color: #000;
    line-height: 1.3em;
    /* word-wrap: break-word; */
    font-weight: 700;
  }
  .container .cards-2 .card .card-elements #card-title-2 {
    color: #fff;
  }
}

@media only screen and (min-width: 1200px) {
  .container .cards-2 {
    max-width: 100%;
    height: auto;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    display: grid;
    grid-template-columns: 48.5% 48.5%;
    grid-template-rows: auto;
    padding: 1.1rem auto;
    gap: 1rem;
  }
  .container .cards-2 .card {
    width: 100%;
    height: 45vh;
    /* height: 37vh; */
    border-radius: 1rem;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 2.2rem;
  }
  .container .cards-2 #card-1 {
    background-color: #eff6fb;
    background-image: url("../img/atb_productpage_atbcard_header_single-300x233.png");
    background-repeat: no-repeat;
    background-position: left 93% bottom 0%;
    background-size: 50%;
    /* background-size: contain; */
  }
  .container .cards-2 #card-2 {
    background-image: url("../img/atb_productpage_atbcard_premium_header_double-300x233.png"),
      linear-gradient(to right, #000, #a0a0a0, #bfbfbf);
    background-repeat: no-repeat;
    background-position: left 93% top 0%;
    background-size: contain;
    /* background-size: 50%; */
    /* background-size: 100%; */
  }
  .container .cards-2 #card-2 .card-elements {
    /* width: 100%; */
    /* background-image: linear-gradient(to right, #000, #a0a0a0, #bfbfbf); */
  }
  .container .cards-2 .card .card-elements {
    width: 33%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    background: transparent;
    /* background-color: yellow; */
  }
  .container .cards-2 .card .card-elements .btn {
    width: 100%;
    padding: 0 1rem;
    border-radius: 0.5rem;
    text-align: center;
    border: none;
    font-family: "Inter", sans-serif;
    font-size: 1.125em;
    padding: 1rem 0;
    background-size: auto;
    cursor: pointer;
  }
  .container .cards-2 .card .card-elements #card-1-btn {
    background-color: rgb(244, 201, 0);
    color: rgb(111, 11, 187);
  }
  .container .cards-2 .card .card-elements #card-2-btn {
    background-color: #000;
    color: #fff;
  }
  .container .cards-2 .card .card-elements .card-title {
    font-family: "Inter", sans-serif;
    font-size: 1.5em;
    font-weight: 500;
    color: #000;
    line-height: 1.3em;
    word-wrap: break-word;
    font-weight: 700;
  }
  .container .cards-2 .card .card-elements #card-title-2 {
    color: #fff;
  }
}
