@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@media only screen and (min-width: 600px) {
}
@media only screen and (min-width: 992px) {
  /* .end-icons {
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    background-color: red;
    padding: 0 2rem 2rem 2rem;
    z-index: 2000;
  } */
  .userway {
    /* width: auto; */
    /* height: 1rem; */
    position: fixed;
    bottom: 0.9rem;
    left: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .userway i {
    font-size: 2rem;
    color: #0048ff;
    border: 3.5px solid #0048ff;
    border-radius: 50%;
    padding: 0.1rem;
  }
  .userway:hover i {
    transform: scale(1.1);
  }
  .chat-icons {
    position: fixed;
    right: 1.8rem;
    bottom: 2.2rem;
    /* bottom: 6rem; */
    /* display: flex; */
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.3rem;
    z-index: 1000;
    display: none;
    transition: bottom 0.5s ease;
  }
  .chat-icon {
    width: 3.3rem;
    height: 3.3rem;
    border-radius: 50%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .chat-icon img {
    width: 100%;
    height: auto;
  }
  .chat-icon i {
    font-size: 1.7rem;
    color: #fff;
  }
  #whatsapp {
    background: #29b200;
    cursor: pointer;
    position: relative;
  }
  #wptooltip {
    visibility: hidden;
    background-color: #fff;
    color: #000;
    text-align: center;
    border-radius: 9px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.16px;
    line-height: 22.4px;
    padding: 3px 11px 3px 11px;
    cursor: pointer;
    color: rgb(68, 68, 68);
    position: absolute;
    z-index: 1;
    right: 4rem;
  }
  #whatsapp:hover span {
    visibility: visible;
  }
  #facebook {
    background: #3b5998;
    cursor: pointer;
    position: relative;
  }
  #fbtooltip {
    visibility: hidden;
    background-color: #fff;
    color: #000;
    text-align: center;
    border-radius: 9px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.16px;
    line-height: 22.4px;
    padding: 3px 11px 3px 11px;
    cursor: pointer;
    color: rgb(68, 68, 68);
    position: absolute;
    z-index: 1;
    right: 4rem;
  }
  #facebook:hover span {
    visibility: visible;
  }
  #chat {
    width: 3.6rem;
    height: 3.6rem;
    background: #60269e;
    cursor: pointer;
    padding: 1.8rem;
    position: fixed;
    right: 1.7rem;
    bottom: 2.2rem;
    z-index: 1000;
    transition: bottom 0.5s ease;
    border: 2px solid #60269e;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
