@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@font-face {
  font-family: "Helvetica Neue";
  src: url("../font/HelveticaNeue/HelveticaNeueMedium.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  position: relative;
  /* height: 100%; */
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
}

.container header .swiper .swiper-slide .card {
  width: 90%;
  border-radius: 15px;
}

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
  /* container */
  .container {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
  }
  /* header */
  .container header {
    width: 100%;
    height: 70vh;
    /* height: 50vh; */
    background: bisque;
    margin-bottom: 1rem;
  }
  .container header .header-top {
    width: 100%;
    height: 10vh;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background: transparent;
    /* background: red; */
  }
  .container header .header-bottom {
    width: 100%;
    /* height: auto; */
    height: 50vh;
    margin-bottom: 50px;
    /* background-color: red; */
  }
  .container header .swiper {
    width: 100%;
    height: 100%;
  }
  .container header .swiper .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background: red;
    height: 10vh;
  }
  .container header .swiper .swiper-slide .card {
    width: 100%;
    height: 50vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: #eee;
    border-radius: 0;
    /* background: url("../img/atb_productpage_istehlak_az_july.png") no-repeat; */
    /* background-size: cover; */
    /* background-position: right 100% bottom; */
    /* overflow: hidden; */
  }
  .container header .swiper .swiper-slide .card h2 {
    position: absolute;
    top: 100px;
    left: 16px;
    font-size: 18px;
  }
  .container header .swiper .swiper-slide .card img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  /* footer */
  .container footer {
    width: 100%;
    /* height: 80vh; */
    background: #eee;
  }
  .container footer ul li a {
    color: #000;
    font-family: Inter, sans-serif;
    font-size: 12.5px;
    font-weight: 300;
  }
  .container footer .footer-top {
    width: 100%;
    /* height: 50%; */
    background: #f7f4f9;
    display: flex;
    padding-bottom: 2rem;
    /* padding: 3rem 10.5rem 3rem 4.5rem; */
  }
  .container footer .footer-top .footer-top-left {
    width: 50%;
    /* height: auto; */
    display: flex;
    flex-direction: column;
    gap: 2rem;
    box-sizing: border-box;
    padding: 3rem 10.5rem 0rem 4.5rem;
  }
  .container footer .footer-top .footer-top-left nav {
    width: 100%;
    margin-bottom: 2rem;
    /* background-color: red; */
  }
  .container footer .footer-top .footer-top-left nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* height: 100%; */
  }
  .container footer .footer-top .footer-top-left nav #bold li a {
    font-weight: 500;
  }
  .container footer .footer-top .footer-top-left .columns {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .container footer .footer-top .footer-top-left .columns .col {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-right: 1px solid rgb(200, 200, 200);
    padding-right: 1.5rem;
  }
  .container footer .footer-top .footer-top-left .columns .col ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .container footer .footer-top .footer-top-left .columns #col-3 {
    border: none;
  }
  .container footer .footer-top .footer-top-right {
    width: 50%;
    height: 100%;
    padding: 3.5rem 5.3rem 0rem 4.5rem;
  }
  .container footer .footer-top .footer-top-right .logo {
    width: 100%;
    display: flex;
    justify-content: right;
  }
  .container footer .footer-bottom {
    width: 100%;
    /* height: 50%; */
    background: #f0eaf3;
    padding: 3rem 10.5rem 3rem 4.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5rem;
  }
  .container footer .footer-bottom .footer-bottom-1 {
    display: flex;
    gap: 2rem;
  }

  .container footer .footer-bottom .footer-bottom-2 p {
    color: #000;
    font-family: Inter, sans-serif;
    font-size: 12.5px;
    font-weight: 300;
  }
  .end-icons {
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }
  .userway {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .userway i {
    font-size: 2.2rem;
    color: #0048ff;
    border: 4px solid #0048ff;
    border-radius: 50%;
    padding: 0.1rem;
  }
  .userway:hover i {
    transform: scale(1.1);
  }
  .chat {
    padding: 1rem;
    border-radius: 50%;
    background: #60269e;
    cursor: pointer;
  }
  .chat i {
    font-size: 2rem;
    color: #fff;
  }
  /* cards section */
  .cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    /* margin-top: 5rem; */
  }
  .cards .card {
    width: 20%;
    height: 40vh;
    background: #f1f4fb;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    /* align-items: center; */
    border: none;
    /* padding: 1rem; */
    /* position: relative; */
  }
  .card img {
    width: 4rem;
  }

  /* cards-2 section */
  .container .cards-2 {
    width: 100%;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.1rem;
    gap: 1.5rem;
  }
  .container .cards-2 .card {
    width: 44%;
    height: 37vh;
    border-radius: 1rem;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 2.2rem;
  }
  .container .cards-2 #card-1 {
    background-color: #eff6fb;
    background-image: url("../img/atb_productpage_atbcard_header_single-300x233.png");
    background-repeat: no-repeat;
    background-position: left 93% bottom 0%;
  }
  .container .cards-2 #card-2 {
    background-image: url("../img/atb_productpage_atbcard_premium_header_double-300x233.png"),
      linear-gradient(to right, #000, #a0a0a0, #bfbfbf);
    background-repeat: no-repeat;
    background-position: left 93% top 0%;
  }
  .container .cards-2 .card .card-elements {
    width: 33%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    background: transparent;
  }
  .container .cards-2 .card .card-elements .btn {
    width: 100%;
    padding: 0 1rem;
    border-radius: 0.5rem;
    text-align: center;
    border: none;
    font-family: "Inter", sans-serif;
    font-size: 1.125em;
    padding: 1rem 0;
    background-size: auto;
    cursor: pointer;
  }
  .container .cards-2 .card .card-elements #card-1-btn {
    background-color: rgb(244, 201, 0);
    color: rgb(111, 11, 187);
  }
  .container .cards-2 .card .card-elements #card-2-btn {
    background-color: #000;
    color: #fff;
  }
  .container .cards-2 .card .card-elements .card-title {
    font-family: "Inter", sans-serif;
    font-size: 1.5em;
    font-weight: 500;
    color: #000;
    line-height: 1.3em;
    word-wrap: break-word;
    font-weight: 700;
  }
  .container .cards-2 .card .card-elements #card-title-2 {
    color: #fff;
  }

  /* news section */
  .container .news {
    width: 100%;
    height: 84vh;
    padding: 0 2rem 3rem 2rem;
    display: flex;
    flex-direction: column;
  }
  .container .news h2 {
    font-family: "Inter", sans-serif;
    font-size: 2em;
    font-weight: 700;
    margin-inline-end: 2.25em;
    margin-left: 1.7em;
    line-height: 2.4em;
  }
  .container .news .cards-3 {
    max-width: 69.375em;
    height: 50vh;
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.625em;
    margin: auto;
  }
  .container .news .cards-3 .card {
    background-color: #f5eee8;
    height: 50vh;
    width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
    row-gap: 1.875em;
    padding: 2.625em 1.25em 2.625em 1.25em;
    border-radius: 1em 1em 1em 0;
    position: relative;
  }
  .container .news .cards-3 .card:not(:last-child):after {
    content: "";
    display: block;
    width: 25px;
    height: 27px;
    border-top-width: 22px;
    border-right-width: 22px;
    transform: matrix(1, 0, 0, 1, 0, 22);
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #f5eee8;
    list-style-position: outside;
    font-size: 16px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    clip-path: polygon(0 0, 0% 100%, 100% 0);
  }
  .container .news .cards-3 #card-4 {
    height: 27vh;
  }
  .container .news .cards-3 #card-4 i {
    font-size: 4em;
    transition: all 0.4s ease;
    cursor: pointer;
  }
  .container .news .cards-3 #card-4 i:hover {
    transform: translateX(15px);
  }
  .container .news .cards-3 h2 {
    font-family: "Inter", sans-serif;
    font-size: 2em;
    font-weight: 700;
    margin-block-end: 2.25em;
    line-height: 1.188em;
  }
  .container .news .cards-3 .card .news-title {
    font-family: "Inter", sans-serif;
    font-size: 1.125em;
    font-weight: 700;
    line-height: 1.188em;
    color: #000;
    cursor: pointer;
  }
  .container .news .cards-3 .card .news-date {
    font-family: "Inter", sans-serif;
    font-size: 0.625em;
    font-weight: 400;
    font-style: italic;
    line-height: 0.742em;
    margin-inline-start: 0.438em;
    margin-top: 0.438em;
    text-align: left;
  }
  .container .news .cards-3 .card .news-content {
    font-family: "Inter", sans-serif;
    font-size: 0.875em;
    font-weight: 400;
    line-height: 1.062em;
    text-align: left;
  }
  .container .news .end-link {
    width: 100%;
    display: flex;
    justify-content: right;
    display: none;
  }
  .container .news #end-link {
    font-family: "Inter", sans-serif;
    font-size: 1.5em;
    font-weight: 300;
    color: #000;
    display: none;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
}
