@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@font-face {
  font-family: 'Helvetica Neue';
  src: url('../font/HelveticaNeue/HelveticaNeueMedium.otf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  position: relative;
  /* height: 100%; */
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
}

.container header .swiper .swiper-slide .card {
  width: 90%;
  border-radius: 15px;
}

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
  /* container */
  .container {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
  }
  /* header */
  .container header {
    width: 100%;
    height: 70vh;
    /* height: 50vh; */
    background: bisque;
    margin-bottom: 1rem;
  }
  .container header .header-top {
    width: 100%;
    height: 10vh;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background: transparent;
    /* background: red; */
  }
  .container header .header-bottom {
    width: 100%;
    /* height: auto; */
    height: 50vh;
    margin-bottom: 50px;
    /* background-color: red; */
  }
  .container header .swiper {
    width: 100%;
    height: 100%;
  }
  .container header .swiper .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background: red;
    height: 10vh;
  }
  .container header .swiper .swiper-slide .card {
    width: 100%;
    height: 50vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: #eee;
    border-radius: 0;
    /* background: url("../img/atb_productpage_istehlak_az_july.png") no-repeat; */
    /* background-size: cover; */
    /* background-position: right 100% bottom; */
    /* overflow: hidden; */
  }
  .container header .swiper .swiper-slide .card h2 {
    position: absolute;
    top: 100px;
    left: 16px;
    font-size: 18px;
  }
  .container header .swiper .swiper-slide .card img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  /* footer */
  .container footer {
    width: 100%;
    /* height: 80vh; */
    background: #eee;
  }
  .container footer ul li a {
    color: #000;
    font-family: Inter, sans-serif;
    font-size: 12.5px;
    font-weight: 300;
  }
  .container footer .footer-top {
    width: 100%;
    /* height: 50%; */
    background: #f7f4f9;
    display: flex;
    padding-bottom: 2rem;
    /* padding: 3rem 10.5rem 3rem 4.5rem; */
  }
  .container footer .footer-top .footer-top-left {
    width: 50%;
    /* height: auto; */
    display: flex;
    flex-direction: column;
    gap: 2rem;
    box-sizing: border-box;
    padding: 3rem 10.5rem 0rem 4.5rem;
  }
  .container footer .footer-top .footer-top-left nav {
    width: 100%;
    margin-bottom: 2rem;
    /* background-color: red; */
  }
  .container footer .footer-top .footer-top-left nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* height: 100%; */
  }
  .container footer .footer-top .footer-top-left nav #bold li a {
    font-weight: 500;
  }
  .container footer .footer-top .footer-top-left .columns {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .container footer .footer-top .footer-top-left .columns .col {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-right: 1px solid rgb(200, 200, 200);
    padding-right: 1.5rem;
  }
  .container footer .footer-top .footer-top-left .columns .col ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .container footer .footer-top .footer-top-left .columns #col-3 {
    border: none;
  }
  .container footer .footer-top .footer-top-right {
    width: 50%;
    height: 100%;
    padding: 3.5rem 5.3rem 0rem 4.5rem;
  }
  .container footer .footer-top .footer-top-right .logo {
    width: 100%;
    display: flex;
    justify-content: right;
  }
  .container footer .footer-bottom {
    width: 100%;
    /* height: 50%; */
    background: #f0eaf3;
    padding: 3rem 10.5rem 3rem 4.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5rem;
  }
  .container footer .footer-bottom .footer-bottom-1 {
    display: flex;
    gap: 2rem;
  }
  .container footer .footer-bottom .footer-bottom-2 {
  }
  .container footer .footer-bottom .footer-bottom-2 p {
    color: #000;
    font-family: Inter, sans-serif;
    font-size: 12.5px;
    font-weight: 300;
  }
  .end-icons {
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }
  .userway {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .userway i {
    font-size: 2.2rem;
    color: #0048ff;
    border: 4px solid #0048ff;
    border-radius: 50%;
    padding: 0.1rem;
  }
  .userway:hover i {
    transform: scale(1.1);
  }
  .chat {
    padding: 1rem;
    border-radius: 50%;
    background: #60269e;
    cursor: pointer;
  }
  .chat i {
    font-size: 2rem;
    color: #fff;
  }
  /* cards section */
  .cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    /* margin-top: 5rem; */
  }
  .cards .card {
    width: 20%;
    height: 40vh;
    background: #f1f4fb;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    /* align-items: center; */
    border: none;
    /* padding: 1rem; */
    /* position: relative; */
  }
  .card img {
    width: 4rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
}
