@media only screen and (min-width: 992px) {
  /* valyuta section */
  html,
  body {
    position: relative;
    height: 100%;
  }
  body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #000;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .valyuta {
    width: 100%;
    height: 60vh;
    background-color: yellowgreen;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 4.8rem;
  }
  .valyuta .valyuta-cards {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .valyuta .valyuta-card {
    width: 48%;
    height: 50vh;
    background-color: #f0f4f0;
    border-radius: 1rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .valyuta .valyuta-card .card-header h2 {
    font-family: "Inter", sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    color: #000;
    margin-bottom: 0.375em;
    line-height: 1.1em;
  }
  .valyuta #calculator {
    height: 35vh;
  }
  .valyuta #calculator h2 {
    width: 50%;
    display: flex;
    gap: 1rem;
  }
  #calculator h2 span {
    word-wrap: break-word;
  }
  .infos {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .infos .info {
    font-size: 0.875em;
    line-height: 1.069em;
    color: rgb(143, 143, 143);
    font-family: "Inter", sans-serif;
    text-align: start;
  }
  .valyuta .valyuta-card .card-bottom {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 12px;
  }
  .valyuta .valyuta-card .card-bottom .grid-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 30px;
    text-align: center;
    border: none;
    font-family: "Inter", sans-serif;
    font-size: 1.25em;
    padding: 0.469em 0.313em 0.469em 0;
    line-height: 1.5em;
    text-align: left;
  }
  .valyuta .valyuta-card .card-bottom .item-1 {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .valyuta .valyuta-card .card-bottom .item-2,
  .valyuta .valyuta-card .card-bottom .item-3 {
    line-height: 1.062em;
    color: rgb(111, 11, 187);
    padding-bottom: 0.656em;
    font-weight: 400;
    font-size: 0.875em;
  }
  .valyuta .valyuta-card .card-bottom .item-5,
  .item-9,
  .item-13 {
    font-weight: 700;
  }
  .valyuta .valyuta-card .card-bottom .item-6,
  .valyuta .valyuta-card .card-bottom .item-10,
  .valyuta .valyuta-card .card-bottom .item-14 {
    border-right: 1px solid rgb(208, 208, 208);
    margin-right: 3.5rem;
  }
  .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 1rem; */
  }
  /* .buttons input { */
  /* width: 100%; */
  /* height: 100%; */
  /* border: none; */
  /* position: relative; */
  /* border-radius: 7px 0 0 7px; */
  /* border-top: 1px solid rgb(208, 208, 208); */
  /* border-bottom: 1px solid rgb(208, 208, 208); */
  /* border-left: 1px solid rgb(208, 208, 208); */
  /* border-right: none; */
  /* padding: 0.969em 1em 0.969em 1em; */
  /* align-items: center; */
  /* background-color: transparent; */
  /* } */
  /* .buttons .btn { */
  /* border-radius: 10px; */
  /* width: 271px; */
  /* height: 54.9844px; */
  /* padding: 0.969em 1em 0.969em 1em; */
  /* background: #3e8e41; */
  /* border: 1px solid rgb(208, 208, 208); */
  /* display: flex; */
  /* justify-content: space-around; */
  /* } */
  /* .buttons .btn-2 {
        display: flex;
    } */
  .buttons i {
    background-position-x: 50%;
    background-position-y: 50%;
    font-size: 1.6em;
    color: #6f0bbb;
  }
  /* .dropdown {
        padding: 0.969em 1em 0.969em 1em;
        position: relative;
        display: inline-block;
        background: red;
    }
    .dropbtn {
        padding: 1rem;
        color: #000;
        font-size: 16px;
        cursor: pointer;
        background: #fff;
        border-top: 1px solid rgb(208, 208, 208);
        border-bottom: 1px solid rgb(208, 208, 208);
        border-right: 1px solid rgb(208, 208, 208);
        border-left: none;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 200px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }
    .dropdown-content a {
        color: rgb(132, 132, 132);
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    .dropdown-content a:hover {
        background-color: #f1f1f1;
    }
    .dropdown:hover .dropdown-content {
        display: block;
    }
    .dropdown:hover .dropbtn {
    }
    .dropbtn {
        background-color: #3498db;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }
    .dropbtn:hover,
    .dropbtn:focus {
        background-color: #2980b9;
    } */
  /* clickable dropdown */
  .dropbtn {
    background-color: #3498db;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  .dropbtn:hover,
  .dropbtn:focus {
    background-color: #2980b9;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown img {
    vertical-align: middle;
    margin-right: 1rem;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown a:hover {
    background-color: #ddd;
  }
  .show {
    display: block;
  }
  .calculator-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    border: 1px solid rgb(208, 208, 208);
    flex-basis: calc(50% - 36px);
    line-height: 19.5552px;
    padding: 15.5px 16px 15.5px 16px;
    position: relative;
    text-align: start;
    text-size-adjust: 100%;
    vertical-align: baseline;
    width: 215px;
    background-color: #fff;
  }
  .calculator-container input {
    cursor: text;
    color: #000;
    font-family: "Inter", sans-serif;
    font-feature-settings: normal;
    font-size: 18px;
    font-kerning: auto;
    font-optical-sizing: auto;
    font-stretch: 100%;
    font-weight: 400;
    line-height: 21.9996px;
    overflow-x: clip;
    overflow-y: clip;
    text-align: start;
    text-rendering: auto;
    width: 79.625px;
    vertical-align: middle;
    background-color: #fff;
    border: none;
  }
  .exchanges select {
    /* height: 1px; */
    display: flex;
    align-items: center;
    border-radius: 10px;
    clip: rect(0px, 0px, 0px, 0px);
    cursor: pointer;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: normal;
    margin: -1px;
    overflow-x: visible;
    overflow-y: visible;
    text-align: start;
    text-rendering: auto;
    text-wrap: nowrap;
    white-space-collapse: preserve;
    vertical-align: middle;
    word-spacing: 0px;
    border: none;
  }
}
