.clear-fix{
    content: "";
    display: table;
    clear: both;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --red: #fd634d;
    --green:#a1c927;
    --white: #fff;
    --facebook:#2e3192;
    --twitter:#00aeef;
    --youtube:#ed3123;
    --linkedin:#171a8f;
}
.red-bg{
    background: var(--red);
}
.green-bg{
    background: var(--green);
}
.white-bg{
    background: var(--white);
}
.red-text{
    color: var(--red);
}
.green-text{
    color: var(--green);
}
.white-text{
    color: var(--white);
}
.w-33{
    width: 33%;
}
.w-66{
    width: 66%;
}
.bg-facebook{background: var(--facebook);}
.bg-twitter{background: var(--twitter);}
.bg-youtube{background: var(--youtube);}
.bg-linkedin{background: var(--linkedin);}
header{
    width: 100%;
    height: 100vh;
    background: url('../img/bg.jpg') 55% center/cover;
    position: relative;
    text-align: center;
}
header .top{
    width: 100%;
}
header .top .logo{
    padding: 2.4em 0 0 0;
}
header nav{
    padding: 3.8em 0 0 0;
}
header nav ul li{
    list-style: none;
}
header nav ul li a{
    text-decoration: none;
    letter-spacing: 1px;
    font: 0.8em "Avenir Next Rounded";
    text-align: right;
}
.bottom{
    position: absolute;
    bottom: 9.2em;
    left: 0;
    right: 0;
    text-align: center;
}
.bottom h1{
    font: 2.5em "Myriad Pro";
}
.bottom h5{
    letter-spacing: 3px;
    font: 0.9em "Myriad Pro";
    text-align: center;
    margin-top: 1em;
}
.row{
    width: 100%;
    padding: 6em 0 8em 0.5em;
}
article{
    width: 100%;
    margin-bottom: 4.5em;
}
.image{
    background: url('');
}
.titles{
    display: flex;
    justify-content: space-between;
}
.title-2{
    display: flex;
}
.boxes{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 3em;
}
.boxes h4{
    margin-bottom: 1.3em;
    font: 1em "Open Sans";
}
.boxes p{
    color: #8297a7;
    font: 0.9em "Open Sans";
}
.icons > i{
    font: 1em;
    border-radius: 50%;
    padding: 1.1em;
}
footer{
    background:#0c1119;
}
.footer-bg{
    width: 100%;
    height: 100vh;
    background: url('../img/footer-bg.jpg') bottom/cover;
 }
.inputs{
    width: 100%;
    display: flex;
    justify-content: right;
    gap: 0.4em;
}
input[type="text"],input[type="email"],button{
    height: 3em;
    border: none;
    border-radius: 3px;
    color: #83969f;
    font: 0.9em "Proxima Nova";
}
input[type="text"]{
    width: 13em;
    padding-left: 1.4em;
}
input[type="email"]{
    width: 21em;
    padding-left: 1.4em;
}
button{
    width: 11.3em;
    background: #a1c927;
    font-weight: bold;
}
button i{
    margin-left: 0.6em;
}
#box-1{
    width: 23em; 
}
#box-2{
    width: 28em;
    /* background: yellow; */
}
.contact{
    width: 15.3em;
}
.icons{
    display: flex;
    justify-content: space-evenly;
    gap: 1em;
}

/* @media only screen and (min-width: 768px) { */
    header{
        background: url('../img/bg.jpg') center/cover;
    }
    header .top{
        display: flex;
        justify-content: space-between;
    }
    header .top .logo{
        padding: 2.4em 0 0 3.3em;
    }
    header nav ul{
        display: flex;
        padding-right: 4.3em;
    }
    header nav ul li{
        margin-left: 4em;
    }
    .bottom{
        position: absolute;
        left: 7.3em;
        bottom: 9.2em;
        text-align: initial;
    }
    .bottom h5{
        text-align: initial;
    }
    .row{
        display: flex;
        padding: 7em 14em 8em 13em;
    }
    article{
        width: 25%;
    }
/* } */