@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Open+Sans:wght@100..900&display=swap');
@font-face {
    font-family: 'Avenir Next Rounded';
    src: url('../font/Avenir/AvenirNextRoundedStd-Reg.ttf');
}

@font-face {
    font-family: 'Avenir Next Rounded Bold';
    src: url('../font/Avenir/AvenirNextRoundedStd-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../font/Myriad/MYRIADPRO-REGULAR.woff');
}

@font-face {
    font-family: 'Myriad Pro Bold';
    src: url('../font/Myriad/MYRIADPRO-BOLD.woff');
    font-weight: bold;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/Proxima/Fontspring-DEMO-proximanova-regular.otf');
}

@font-face {
    font-family: 'Proxima Nova Bold';
    src: url('../fonts/Proxima/Fontspring-DEMO-proximanova-bold.otf');
    font-weight: bold;
}