/* header */

header {
  width: 100%;
  height: 100vh;
  background: url('../img/bg.png') center/cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 1.5em;
  text-align: center;
}

header .header-top {
  width: 100%;
  height: 2em;
  display: flex;
  justify-content: space-between;
}

header .header-top nav {
  width: 30%;
}

header .header-top nav ul {
  display: flex;
  gap: 1.5em;
}

header .header-top nav ul li {
  padding: 1em 0;
}

header .header-top nav ul li:first-child {
  border-top: 0.3em solid #53d153;
  padding: 0.5em 0;
}

header .header-top nav ul li a {
  color: #fff;
}

header .header-top .logo {
  padding: 0.5em 0;
}

header .header-top .logo img {
  width: 100%;
  object-fit: cover;
}

header .header-top .search {
  width: 30%;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0.5em 0;
}

header .header-center {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header .header-bottom {
  width: 100%;
}

/* what we do section */

.what-we-do {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.what-we-do .section-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.what-we-do .section-title .title h2 {
  letter-spacing: 0.3em;
  color: #828181;
  font-weight: 300;
  font: 1.3em 'Montserrat';
}

.what-we-do .section-title .line hr {
  width: 2.7em;
  border-color: #818181;
}

.what-we-do .section-title .text p {
  color: #b7b3b3;
  font: 1em 'Myriad Pro';
}

.what-we-do .articles {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.what-we-do .articles article {
  width: 17em;
  height: 21em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.what-we-do .articles article .article-image {
  width: 8.9em;
  height: 8.9em;
  padding: 2.3em 1.8em;
  border: none;
  border-radius: 2em;
  background: #e0f3e0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.what-we-do .articles article .article-image i {
  font-size: 5.5em;
  color: #53d153;
}

.what-we-do .articles article .article-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 1em;
}

.what-we-do .articles article .article-content .title h3 {
  color: #828181;
  font: 1.5em 'Proxima Nova';
  font-weight: bold;
}

.what-we-do .articles article .article-content .text p {
  color: #828181;
  font: 0.9em 'Montserrat';
  font-weight: 300;
}

.what-we-do .articles article .learn-more-button button {
  background: #53d153;
  border: none;
  border-radius: 2em;
  color: #fff;
  padding: 0.6em 1.2em;
  font-weight: bold;
  font: 1em 'Proxima Nova';
}

/* our latest work section */

.our-latest-work {
  width: 100%;
  height: 100vh;
  background: #54d154;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.our-latest-work .section-title .title h2 {
  font-size: 20px;
  letter-spacing: 4px;
  color: #207b20;
  font-weight: 300;
  font-family: 'Montserrat';
  text-align: center;
}

.our-latest-work .section-title .text p {
  font-size: 16px;
  color: #2b9b2b;
  font-weight: 300;
  font-family: 'Open Sans';
  text-align: center;
}

.our-latest-work .section-title .line hr {
  width: 2.7em;
  border-color: #2b9b2b;
}

.our-latest-work .buttons {
  display: flex;
  border: none;
  border-radius: 3em;
}

.our-latest-work .buttons button {
  padding: 0.7em 1em;
  border: 1px solid #2b9b2b;
  color: #2b9b2b;
  font: 1em 'Proxima Nova';
}

.our-latest-work .buttons .photography {
  background: #2b9b2b;
  border-radius: 2em 0 0 2em;
  color: #ffffff;
  font: 1em 'Proxima Nova';
}

.our-latest-work .buttons .print {
  border-radius: 0 2em 2em 0;
}

.our-latest-work .view-more-work button {
  padding: 13px 19px;
  border-radius: 3em;
  border: 1px solid #2b9b2b;
  background: #2b9b2b;
  font: 1em 'Proxima Nova';
  color: #fff;
}

.our-latest-work .view-more-work button i {
  margin-left: 7px;
  vertical-align: middle;
}

.our-latest-work .works {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2em;
}

.our-latest-work .works .work {
  width: 160px;
  height: 160px;
  border-radius: 2em;
}

.our-latest-work .works .work img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.2em;
}

/* testimonials */

.testimonials {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.testimonials .testimonials-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.testimonials .testimonials-top .title h2 {
  letter-spacing: 0.3em;
  color: #828181;
  font-weight: 300;
  font: 1.3em 'Montserrat';
}

.testimonials .testimonials-top .line hr {
  width: 2.7em;
  border-color: #818181;
}

.testimonials .testimonials-top .text p {
  color: #b7b3b3;
  font: 1em 'Myriad Pro';
}

.testimonials .testimonials-center {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
}

.testimonials .testimonials-center i {
  font-size: 22px;
  color: #dfdfdf;
}

.testimonials .testimonials-center p {
  width: 29%;
  color: #444444;
  font: 1em 'Proxima Nova';
}

.testimonials .testimonials-bottom {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.testimonials .testimonials-bottom .author-image {
  width: 4em;
  border: 4px solid #cccccc;
  border-radius: 50%;
  padding: 0.4em 0.6em;
}

.testimonials .testimonials-bottom .author-image img {
  width: 100%;
  object-fit: cover;
}

.testimonials .testimonials-bottom .author .name {
  color: #444444;
  font: 1em 'Proxima Nova';
}

.testimonials .testimonials-bottom .author .job {
  color: #cccccc;
  font-weight: bold;
  font-family: 1em 'Proxima Nova';
}

/* our happy client */

.our-happy-clients {
  width: 100%;
  height: 90vh;
  background: #f2f1f1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.our-happy-clients .section-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.our-happy-clients .section-title .title h2 {
  letter-spacing: 0.3em;
  color: #828181;
  font-weight: 300;
  font: 1.3em 'Montserrat';
}

.our-happy-clients .section-title .line hr {
  width: 2.7em;
  border-color: #818181;
}

.our-happy-clients .section-title .text p {
  color: #b7b3b3;
  font: 1em 'Myriad Pro';
}

.our-happy-clients .logos {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4em;
}

.our-happy-clients .logos .logo {
  width: 10em;
  height: 8em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.our-happy-clients .logos .logo img {
  object-fit: cover;
}

.our-happy-clients .see-all-client button {
  padding: 0.8em 1.2em;
  border-radius: 3em;
  border: none;
  background: #dddcdc;
  font: 1.1em 'Proxima Nova';
  color: #a59d9d;
}

.our-happy-clients .see-all-client button i {
  margin-left: 7px;
  vertical-align: middle;
}

/* meet the team */

.meet-the-team {
  width: 100%;
  height: 100vh;
}

.meet-the-team .section-top {
  width: 100%;
  height: 85vh;
  background: #53d153;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.meet-the-team .section-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.meet-the-team .section-title .title h2 {
  letter-spacing: 0.3em;
  color: #207b20;
  font-weight: 300;
  font: 1.3em 'Montserrat';
  font-size: 20px;
  letter-spacing: 4px;
}

.meet-the-team .section-title .line hr {
  width: 2.7em;
  border-color: #1f7b1f;
}

.meet-the-team .section-title .text p {
  color: #2b9b2b;
  font: 1em 'Open Sans';
  font-weight: 300;
}

.meet-the-team .members {
  width: 80%;
  height: 50vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2em;
}

.meet-the-team .members .member {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.meet-the-team .members .member .member-photo {
  width: 7.8em;
}

.meet-the-team .members .member .member-photo img {
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.meet-the-team .members .member .vertical-line {
  width: 2px;
  height: 4.9em;
  background: #1f7b1f;
}

.meet-the-team .members .member .member-name p {
  color: #ffffff;
  font: 1em 'Proxima Nova';
}

.meet-the-team .members .contact-info {
  background: #c5e9c5;
  padding: 4px 5px;
  border-radius: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.4em;
}

.meet-the-team .section-bottom {
  width: 100%;
  height: 15vh;
  background: #3eba3e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.meet-the-team .work-with-us {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 300;
  font: 1.2em 'Proxima Nova';
  background: #53d153;
  border: none;
  border-radius: 2em;
  padding: 0.7em 1em;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
}

/* footer */

footer {
  width: 100%;
  height: 90vh;
}

.footer-top {
  width: 100%;
  height: 70vh;
  background: #333333;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1em;
}

footer .footer-top .about-us {
  width: 26%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

footer .footer-top .about-us .title h2 {
  letter-spacing: 3px;
  color: #dddddd;
  font-weight: 300;
  font: 1em 'Montserrat';
}

footer .footer-top .about-us .title hr {
  width: 1.9em;
  border-color: #dddddd;
}

footer .footer-top .about-us .text p {
  color: #cccccc;
  font: 1em 'Proxima Nova';
  text-align: center;
}

footer .footer-top .contact-info {
  background: #c5e9c5;
  padding: 4px 5px;
  border-radius: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.4em;
}

footer .footer-top .recent-posts {
  width: 30%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

footer .footer-top .recent-posts .title h2 {
  letter-spacing: 3px;
  color: #dddddd;
  font-weight: 300;
  font: 1em 'Montserrat';
}

footer .footer-top .recent-posts .title hr {
  width: 1.9em;
  border-color: #dddddd;
}

footer .footer-top .recent-posts .posts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.7em;
}

footer .footer-top .recent-posts .posts .post {
  display: flex;
  gap: 0.4em;
}

footer .footer-top .recent-posts .posts .post .post-image {
  width: 3.3em;
  height: 3.3em;
}

footer .footer-top .recent-posts .posts .post .post-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.3em;
}

footer .footer-top .recent-posts .posts .post .post-info-type {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

footer .footer-top .recent-posts .posts .post .post-info-type .info {
  color: #cccccc;
  font-weight: 300;
  font: 1em 'Montserrat';
}

footer .footer-top .recent-posts .posts .post .post-info-type .type {
  color: #ffffff;
  font-weight: 300;
  font: 0.7em 'Montserrat';
  padding: 0.2em 1em;
  display: inline-block;
  border-radius: 2px;
}

footer #magazine {
  background: #53d153;
}

footer #ui-design {
  background: #ffba00;
}

footer #photography {
  background: #089cea;
}

footer #book {
  background: #f34c03;
}

footer .footer-top .contact-us {
  width: 30%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

footer .footer-top .contact-us .title h2 {
  letter-spacing: 3px;
  color: #dddddd;
  font-weight: 300;
  font: 1em 'Montserrat';
}

footer .footer-top .contact-us .title hr {
  width: 1.9em;
  border-color: #dddddd;
}

footer .footer-top .contact-us .contact-infos {
}

footer .footer-top .contact-us .contact-infos p {
  color: #cccccc;
  font-weight: 300;
  font: 0.9em 'Proxima Nova';
  text-align: center;
  margin-bottom: 0.5em;
}

footer .footer-top .message {
  width: 20em;
}

footer .footer-top .message form {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}

footer .footer-top .message form input {
  height: 2em;
  background: #444444;
  border: none;
  color: #777777;
  font: 1em 'Proxima Nova';
  padding-left: 0.9em;
}

footer .footer-top .message form input[type='text'] {
  border-radius: 0.5em 0.5em 0 0;
}

footer .footer-top .message form textarea {
  height: 8.1em;
  background: #444444;
  border: none;
  color: #777777;
  font: 1em 'Proxima Nova';
  padding-left: 0.9em;
}

footer .footer-top .message form input[type='submit'] {
  color: #ffffff;
  font: 0.9em 'Proxima Nova';
  background: #2b9b2b;
  border: none;
  border-radius: 0 0 0.5em 0.5em;
}

.footer-center {
  width: 100%;
  height: 30vh;
  background: #212121;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.footer-center .title h2 {
  letter-spacing: 3px;
  color: #101010;
  font-weight: 300;
  font: 1em 'Montserrat';
}

.footer-center .title hr {
  width: 2.7em;
  border-color: #101010;
}

.footer-center .site-logos {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.footer-center .site-logos .logo {
  padding: 2em;
}

.footer-center .site-logos .logo img {
  width: 100%;
  object-fit: cover;
}

.footer-bottom {
  width: 100%;
  background: #111111;
  padding: 0.5em 0;
}

.footer-bottom p {
  color: #ffffff;
  font: 1em 'Proxima Nova';
  text-align: center;
}
