@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
:root {
    --white: #fff;
    --gray: #4c4c4c;
    --violet: #745cf9;
    --black:#0E1015;
}

.white-bg {
    background: var(--white);
}

.white-text {
    color: var(--white);
}

.gray-text {
    color: var(--gray);
}

.violet-bg {
    background: var(--violet);
}
.black-bg{
    background: var(--black);
}
.bg-0{
    background: none;
}
.flex {
    display: flex;
}

.row {
    width: 100%;
}

header {
    width: 100%;
}

header .top {
    width: 100%;
    justify-content: space-between;
    padding: 2em 5em;
}

header .logo {}

header nav {}

header nav ul li {
    margin-right: 1.5em;
}

header nav ul li i {
    margin-left: 1em;
}

header .bottom {
    height: 100vh;
    background: url('../img/bg-1.jpg') center/cover fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.content-text h1{
    font: 4em Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 0.5em;
    font-weight: 600;
}
.content-text p{
    font: 0.9em Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.btn{
    padding: 1.5em 4.5em;
    border: 2px solid var(--violet);
    font: 0.7em Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    letter-spacing: 0.2em;
    cursor: pointer;
    transition: 0.4s all ease;
}
footer {
    justify-content: space-between;
    position: relative;
    
}
footer .container{
    justify-content: space-between;
    padding: 5em 6em;
}
.contact{
    display: flex;
    gap: 1.5em;
}
footer a{
    color: rgba(255, 255, 255, 0.5) ;
    font-weight: 900;
}
footer a:hover{
    color: var(--violet);
}
footer .contact i:hover{
    color: var(--violet);
    cursor: pointer;
    transition: 0.3s all ease;
}
.icon{
    display: inline-block;
    border: 2px solid rgba(255, 255, 255, 0.5);
    padding: 0.5em 0.6em;
    position: absolute;
    right: 1.3em;
    bottom: 1.5em;
    transition: 0.4s all ease;
}
.icon:hover{
    border: 2px solid rgba(255, 255, 255, 1);
    cursor: pointer;
}
.icon i{
    color: rgba(255, 255, 255, 0.5);
}
.icon i:hover{
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}
.content-buttons{
    margin-top: 2em;
}
button:first-child:hover{
    background: rgb(82, 53, 244);
    border-color: rgb(82, 53, 244);
}
button:last-child{
    border: 2px solid var(--white);
}
button:last-child:hover{
    color: #000;
    background: var(--white);
}