:root {
    --white: #fff;
    --gray: #4c4c4c;
    --violet: #745cf9;
    --black:#0E1015;
}

.white-bg {
    background: var(--white);
}

.white-text {
    color: var(--white);
}

.gray-text {
    color: var(--gray);
}

.violet-bg {
    background: var(--violet);
}
.black-bg{
    background: var(--black);
}
.flex {
    display: flex;
}

.row {
    width: 100%;
}

header {
    width: 100%;
}

header .top {
    width: 100%;
    justify-content: space-between;
    padding: 2em 5em;
}

header .logo {}

header nav {}

header nav ul li {
    margin-right: 1.5em;
}

header nav ul li i {
    margin-left: 1em;
}

header .bottom {
    width: 100%;
    height: 100vh;
    background: url('../img/bg-1.jpg') center/cover fixed;
}

footer {
    justify-content: space-between;
    position: relative;
    
}
footer .container{
    justify-content: space-between;
    padding: 5em 6em;
}
.contact{
    display: flex;
    gap: 1.5em;
}
footer a{
    color: rgba(255, 255, 255, 0.5) ;
    font-weight: 900;
}
footer a:hover{
    color: #745cf9;
}
.icon{
    display: inline-block;
    border: 2px solid rgba(255, 255, 255, 0.5);
    padding: 0.5em 0.6em;
    position: absolute;
    right: 1.3em;
    bottom: 1.5em;
    transition: 0.4s all ease;
}
.icon:hover{
    border: 2px solid rgba(255, 255, 255, 1);
    cursor: pointer;
}
.icon i{
    color: rgba(255, 255, 255, 0.5);
}
.icon i:hover{
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}