body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-container {
    width: 100%;
    height: 100vh;
    display: grid;
    gap: 10px;
    grid-template-rows: 15% auto 15%;
    grid-template-columns: auto 20% 15%;
}

.grid-item {
    background: #fddb00;
    font-size: 20px;
    padding: 1em 0 0 1em;
}

header {
    grid-area: 1 / 1 / 2 / 4;
}

article {
    grid-area: 2 / 1 / 3 / 2;
}

nav {
    grid-area: 2 / 2 / 4 / 3;
}

aside {
    grid-area: 2 / 3 / 4 / 4;
}

footer {
    grid-area: 3 / 1 / 4 / 2;
}