/* header */

header {
    width: 100%;
    height: 2.9em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(24, 24, 24, 0.9);
    position: fixed;
    top: 0;
}

header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.4em;
}

header ul li a {
    font-size: 11.5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    color: silver;
    transition: 0.5s all ease;
}

header ul li a:hover {
    color: #fff;
}

header ul li i {
    font-size: 16px;
    transition: 0.5s all ease;
}

header ul li i:hover {
    color: #fff;
}

header ul li #apple-icon {
    font-size: 18px;
}


/* section-1 */

.section-1 {
    display: inline-block;
    width: 100%;
    height: 90vh;
    margin-bottom: 0.8em;
}

.section-1 .section-1-content {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    background: url('../img/bg-section-1.jpg') center/cover;
    padding-top: 2.8em;
    text-align: center;
}

.section-1 .section-1-content .section-1-title h1 {
    color: #f5f5f7;
    font-size: 55px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.section-1 .section-1-content .section-1-info p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 27px;
    color: #f5f5f7;
    line-height: 1.1em;
}

.section-1 .section-1-content .section-1-buttons {
    display: flex;
    gap: 1em;
}

.section-1 .section-1-content .section-1-buttons button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    border: 1px solid #0071e3;
    border-radius: 2em;
    padding: 0.6em 1.3em;
    cursor: pointer;
}

.section-1 .section-1-content .section-1-buttons .learn-more {
    color: #f5f5f7;
    background: #0071e3;
}

.section-1 .section-1-content .section-1-buttons .learn-more:hover {
    color: #f5f5f7;
    background: rgb(0, 113, 260);
}

.section-1 .section-1-content .section-1-buttons .shop-iPhone {
    color: #2790f4;
    background: none;
}

.section-1 .section-1-content .section-1-buttons .shop-iPhone:hover {
    color: #f5f5f7;
    background: #2790f4;
}


/* section-2 */

.section-2 {
    display: inline-block;
    width: 100%;
    height: 90vh;
    margin-bottom: 0.8em;
}

.section-2 .section-2-content {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    background: url('../img/bg-section-2.jpg') center/cover;
    padding-top: 2.8em;
    text-align: center;
}

.section-2 .section-2-content .section-2-title h1 {
    color: #f5f5f7;
    font-size: 55px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    word-spacing: -0.1em;
}

.section-2 .section-2-content .section-2-info p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 27px;
    color: #f5f5f7;
    word-spacing: -0.1em;
}

.section-2 .section-2-content .section-2-buttons {
    display: flex;
    gap: 1em;
}

.section-2 .section-2-content .section-2-buttons button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    border: 1px solid #0071e3;
    border-radius: 2em;
    padding: 0.6em 1.3em;
    cursor: pointer;
}

.section-2 .section-2-content .section-2-buttons .learn-more {
    color: #f5f5f7;
    background: #0071e3;
}

.section-2 .section-2-content .section-2-buttons .learn-more:hover {
    color: #f5f5f7;
    background: rgb(0, 113, 260);
}

.section-2 .section-2-content .section-2-buttons .shop-iPhone {
    color: #2790f4;
    background: none;
}

.section-2 .section-2-content .section-2-buttons .shop-iPhone:hover {
    color: #f5f5f7;
    background: #2790f4;
}