/* header */

header {
    width: 100%;
    display: flex;
    flex-direction: column;
}

header .header-top {
    width: 100%;
    height: 6.3vh;
    background: #f0f0f2;
    display: flex;
    padding-left: 13em;
}

header .header-top .header-top-ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

header .header-top .header-top-ul li a {
    color: #000;
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header .header-top .header-top-ul #bordered-li a {
    border-right: 1px solid #000;
    padding-right: 1.3em;
    letter-spacing: 0.5px;
}

header .header-center {
    width: 100%;
    height: 27.5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #fafafc;
}

header .header-center .nav-1 .header-center-ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
}

header .header-center .nav-1 .header-center-ul li a {
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    color: #000;
    transition: 0.5s all ease;
}

header .header-center .nav-1 .header-center-ul li i {
    font-size: 16px;
    transition: 0.5s all ease;
}

header .header-center .nav-1 .header-center-ul #apple-icon {
    font-size: 18px;
}

header .header-center .nav-2 {
    display: flex;
}

header .header-center .nav-2 .header-center-ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.7em;
    text-align: center;
}

header .header-center .nav-2 .header-center-ul li a {
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000;
}

header .header-center .nav-2 .header-center-ul #iPhone-SE img {
    width: 20px;
}

header .header-center .nav-2 .header-center-ul #airtag img {
    width: 30px;
}

header .header-center .nav-2 .header-center-ul #apple-card img {
    width: 35px;
}

header .header-center .nav-2 .header-center-ul #ios-18 #preview {
    margin-top: 0.3em;
    color: rgb(214, 6, 6);
}

header .header-center .nav-2 .header-center-ul #ios-18 img {
    width: 30px;
}

header .header-bottom {
    width: 100%;
    height: 5vh;
    background: #f5f5f7;
}

header .header-bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1em;
    align-items: center;
}

header .header-bottom p {
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header .header-bottom #sup {
    font-size: 8px;
    text-decoration: underline;
    color: #000;
}

header .header-bottom #sup:hover {
    color: blue;
}

header .header-bottom #blue-link {
    color: blue;
}

header .header-bottom #blue-link:hover {
    text-decoration: underline;
}

header .header-bottom #blue-link i {
    font-size: 8px;
}


/* section-1 */

.section-1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.section-1 .section-1-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 5.3em 4.8em;
}

.section-1 .section-1-top h1 {
    font-size: 75px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    letter-spacing: -3px;
    color: rgba(0, 0, 0, 0.9);
}

.section-1 .section-1-top p {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    letter-spacing: -1.5px;
    color: rgba(0, 0, 0, 0.8);
}

.section-1 .section-1-bottom {
    width: 100%;
}

.section-1 .section-1-bottom video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* section-2 */

.section-2 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.section-2 .section-2-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 8em 4.8em;
}

.section-2 .section-2-top h2 {
    font-size: 55px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    letter-spacing: -3px;
    color: rgba(0, 0, 0, 0.9);
}

.section-2 .section-2-bottom {
    width: 100%;
}

.section-2 .section-2-bottom .cards {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}

.section-2 .section-2-bottom .cards .card {
    width: 25em;
    height: 48em;
    transition: 0.5s all ease;
}

.section-2 .section-2-bottom .cards .card:hover {
    cursor: pointer;
    scale: 1.02;
}

.section-2 .section-2-bottom .cards .card .card-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.section-2 .section-2-bottom .cards .card .card-content .text {
    width: 82%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.6em;
    padding: 2em 0 0 2em;
    /* background: red; */
}

.section-2 .section-2-bottom .cards .card .card-content .text h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.9);
}

.section-2 .section-2-bottom .cards .card .card-content .text p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.9);
}

.section-2 .section-2-bottom .cards .card .card-content .icon {
    width: 2.5em;
    height: 2.5em;
    background: #333336;
    position: absolute;
    bottom: 1em;
    right: 1em;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-2 .section-2-bottom .cards .card .card-content .icon i {
    font-size: 1.2em;
    color: rgba(255, 255, 255, 0.7);
}

.section-2 .section-2-bottom .cards .card .card-content .icon i:hover {
    color: #fff;
}

.section-2 .section-2-bottom .card-1 {
    background: url('../img/img-1.jpg') center/cover;
    border-radius: 2em;
}

.section-2 .section-2-bottom .card-2 {
    background: url('../img/img-2.jpg') center/cover;
    border-radius: 2em;
}
.section-2 .section-2-bottom .card-3{
    background: url('../img/img-3.jpg') center/cover;
    border-radius: 2em;
}

.section-2 .section-2-bottom .card-4{
    background: url('../img/img-4.jpg') center/cover;
    border-radius: 2em;
}

.section-2 .section-2-bottom .card-5{
    background: url('../img/img-5.jpg') center/cover;
    border-radius: 2em;
}
.section-2 .section-2-bottom .card-6{
    background: url('../img/img-6.jpg') center/cover;
    border-radius: 2em;
}
.section-2 .section-2-bottom .card-7{
    background: url('../img/img-7.jpg') center/cover;
    border-radius: 2em;
}
.section-2 .section-2-bottom .card-8{
    background: url('../img/img-8.jpg') center/cover;
    border-radius: 2em;
}
.section-2 .section-2-bottom .card-8 .card-content .text h3{
    color: #000!important;
}
.section-2 .section-2-bottom .card-8 .card-content .text p{
    color: #000!important;
}
.section-2 .section-2-bottom .arrows{
    height: 3em;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 2em 5.5em 0 0;
    gap: 1.2em;
}
.section-2 .section-2-bottom .arrows i{
    padding: 0.4em 0.6em;
    background: #E2E2E5;
    border-radius: 50%;
    color: #636364;
    font-size: 20px;
    transition: 0.3s all ease;
}
.section-2 .section-2-bottom .arrows i:hover{
    background: rgba(226, 226, 229, 0.7);
    cursor: pointer;
}