/* header */

header {
    width: 100%;
    height: 168vh;
    background: url('../img/bg.png') no-repeat center 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header .header-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3em 3em 0 3em;
}

header .header-top nav ul {
    display: flex;
    gap: 2.5em;
}

header .header-top nav ul li a {
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 24px;
    color: #ffffff;
    font-family: 'Avenir Next Rounded';
}

header .header-bottom {
    width: 90%;
    margin-left: 3em;
    margin-bottom: 10em;
}

header .header-bottom h1 {
    font-size: 40px;
    color: #ffffff;
    font-family: 'Myriad Pro';
}

header .header-bottom #green-slash {
    color: #a2ca28;
}

header .header-bottom p {
    font-size: 15px;
    letter-spacing: 3px;
    line-height: 40px;
    color: #ffffff;
    font-family: 'Myriad Pro';
    margin-left: 11em;
}

header .header-bottom #red-slash {
    color: #fd634d;
}


/* green section */

.green-section {
    width: 100%;
    background: #a2ca28;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 6em 0 0 0;
    gap: 5em;
}

.green-section .articles {
    width: 78%;
    display: flex;
    justify-content: space-between;
}

.green-section .articles article {
    width: 22%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5em;
}

.green-section .articles article .article-image i {
    color: #fff;
    font-size: 5em;
}

.green-section .articles article .article-title h2 {
    font-size: 24px;
    line-height: 54px;
    color: #fff;
    font-weight: 400;
    font-family: 'Open Sans';
}

.green-section .articles article .article-content p {
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    font-family: 'Proxima Nova';
}

.green-section .articles article .explore-more a {
    line-height: 32px;
    color: #fff;
    font: 14px 'Proxima Nova';
}

.green-section .sections-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.green-section .fitness-first {
    width: 78%;
    display: flex;
    background: #fff;
    position: relative;
}

.green-section .fitness-first article {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 0 50px 0 50px;
}

.green-section .fitness-first article .article-title h3 {
    letter-spacing: 1px;
    line-height: 22px;
    color: #fd634d;
    font-weight: 400;
    font: 14px 'Montserrat';
}

.green-section .fitness-first article .article-title h2 {
    line-height: 30px;
    color: #a2ca28;
    font-weight: 300;
    font: 35px 'Open Sans';
}

.green-section .fitness-first article .article-content p {
    line-height: 26px;
    color: #656e74;
    font-weight: 400;
    font: 14px 'Open Sans';
}

.green-section .fitness-first article .read-more a {
    text-decoration: underline solid #a2ca28;
    color: #a2ca28;
}

.green-section .fitness-first .image {
    width: 65%;
    height: 25em;
    background: url('../img/img-1.png') center/cover;
}

.green-section .fitness-first .image::after {
    content: '';
    display: table;
    clear: both;
}

.green-section .fitness-first .image img {
    width: 1em;
    height: 1em;
}

.green-section .fitness-first .image .text {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    right: 2em;
    bottom: 2em;
    width: 8em;
}

.green-section .fitness-first .image .text #red-text {
    color: #fd634d;
    line-height: 26px;
    font-weight: 400;
    font: 12px 'Open Sans';
}

.green-section .fitness-first .image .text #white-text {
    color: #fff;
    line-height: 26px;
    font-weight: 400;
    font: 12px 'Open Sans';
}

.green-section .love-your-body {
    width: 78%;
    display: flex;
    background: #fff;
    position: relative;
}

.green-section .love-your-body article {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 0 50px 0 50px;
}

.green-section .love-your-body article .article-title h3 {
    letter-spacing: 1px;
    line-height: 22px;
    color: #fd634d;
    font-weight: 400;
    font: 14px 'Montserrat';
}

.green-section .love-your-body article .article-title h2 {
    line-height: 30px;
    color: #a2ca28;
    font-weight: 300;
    font: 35px 'Open Sans';
}

.green-section .love-your-body article .article-content p {
    line-height: 26px;
    color: #656e74;
    font-weight: 400;
    font: 14px 'Open Sans';
}

.green-section .love-your-body article .read-more a {
    text-decoration: underline solid #a2ca28;
    color: #a2ca28;
}

.green-section .love-your-body .image {
    width: 65%;
    height: 25em;
    background: url('../img/img-2.png') center/cover;
}

.green-section .love-your-body .image::after {
    content: '';
    display: table;
    clear: both;
}

.green-section .love-your-body .image img {
    width: 1em;
    height: 1em;
}

.green-section .love-your-body .image .text {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    left: 2em;
    bottom: 2em;
    width: 9em;
}

.green-section .love-your-body .image .text #red-text {
    color: #fd634d;
    line-height: 26px;
    font-weight: 400;
    font: 12px 'Open Sans';
}

.green-section .love-your-body .image .text #white-text {
    color: #fff;
    line-height: 26px;
    font-weight: 400;
    font: 12px 'Open Sans';
}


/* red section */

.red-section {
    width: 100%;
    background: #fd634d;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.red-section .sections-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.red-section .sections-container .section-1 {
    width: 78%;
    display: flex;
    background: #fff;
}

.red-section .sections-container .section-1 .section-1-1 {
    width: 40%;
}

.red-section .sections-container .section-1 .section-1-1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.red-section .sections-container .section-1 .section-1-2 {
    width: 65%;
    height: 25em;
    background: url('../img/img-4.png') center/cover;
}

.red-section .sections-container .section-1 .section-1-2 .titles {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 3em;
}

.red-section .sections-container .section-1 .section-1-2 .titles .title-1 p {
    letter-spacing: 1px;
    line-height: 22px;
    color: #ffffff;
    font-weight: 400;
    font: 14px 'Montserrat';
}

.red-section .sections-container .section-1 .section-1-2 .titles .title-2 {
    display: flex;
    justify-content: space-between;
    gap: 0.4em;
}

.red-section .sections-container .section-1 .section-1-2 .titles .title-2 p {
    letter-spacing: 1px;
    line-height: 22px;
    color: #ffffff;
    font-weight: 400;
    font: 14px 'Montserrat';
}

.red-section .sections-container .section-1 .section-1-2 .titles .title-2 i {
    color: #ffffff;
}

.red-section .section-2 {
    width: 78%;
    display: flex;
    background: #fff;
}

.red-section .section-2 .section-2-1 {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    padding: 64px 28px 69px 42px;
}

.red-section .section-2 .section-2-1 .article-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.red-section .section-2 .section-2-1 .article-title .title h3 {
    letter-spacing: 1px;
    line-height: 22px;
    color: #fd634d;
    font-weight: 400;
    font: 14px 'Montserrat';
}

.red-section .section-2 .section-2-1 .article-title .title h2 {
    line-height: 30px;
    color: #a2ca28;
    font-weight: 300;
    font: 35px 'Open Sans';
}

.red-section .section-2 .section-2-1 .article-content p {
    line-height: 26px;
    color: #656e74;
    font-weight: 400;
    font: 14px 'Open Sans';
}

.red-section .section-2 .section-2-2 {
    width: 65%;
    background: #a2ca28;
    padding: 64px 108px 0 60px;
}

.red-section .section-2 .section-2-2 .title h2{
    line-height: 30px;
    color: #ffffff;
    font-weight: 300;
    font: 40px "Open Sans";
}
.red-section .section-2 .section-2-2 .text p{
    line-height: 26px;
    color: #fff;
    font-weight: 400;
    font: 14px "Open Sans";
}

.red-section .section-3 {
    width: 78%;
    display: flex;
    background: #fff;
}

.red-section .section-3 .section-3-1 {
    width: 65%;
}
.red-section .section-3 .section-3-1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.red-section .section-3 .section-3-2 {
    width: 40%;
}
.red-section .section-3 .section-3-2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.red-section .section-4 {
    width: 78%;
    display: flex;
    background: #fff;
}
.red-section .section-4 .section-4-1 {
    width: 65%;
    display: flex;
    justify-content: center;
    padding: 64px 47px 96px 60px;
    background: #fff;
}
.red-section .section-4 .section-4-1 .content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
}
.red-section .section-4 .section-4-1 .content .article-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.red-section .section-4 .section-4-1 .content .article-title .title h3 {
    letter-spacing: 1px;
    line-height: 22px;
    color: #fd634d;
    font-weight: 400;
    font: 14px 'Montserrat';
}

.red-section .section-4 .section-4-1 .content .article-title .title h2 {
    line-height: 30px;
    color: #a2ca28;
    font-weight: 300;
    font: 35px 'Open Sans';
}

.red-section .section-4 .section-4-1 .content .article-content p {
    line-height: 26px;
    color: #656e74;
    font-weight: 400;
    font: 14px 'Open Sans';
}

.red-section .section-4 .section-4-2 {
    width: 40%;
    display: flex;
    justify-content: center;
    padding: 64px 28px 69px 42px;
    background: #a2ca28;
}
.red-section .section-4 .section-4-2 .content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
}

.red-section .section-4 .section-4-2 .content .article-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.red-section .section-4 .section-4-2 .content .article-title .title h3 {
    letter-spacing: 1px;
    line-height: 22px;
    color: #fff;
    font-weight: 400;
    font: 14px 'Montserrat';
}

.red-section .section-4 .section-4-2 .content .article-title .title h2 {
    line-height: 30px;
    color: #fff;
    font-weight: 300;
    font: 35px 'Open Sans';
}

.red-section .section-4 .section-4-2 .content .article-content p {
    line-height: 26px;
    color: #fff;
    font-weight: 400;
    font: 14px 'Open Sans';
}

/* footer */

footer{
    width: 100%;
    height: 90vh;
}
footer .footer-top{
    width: 100%;
    height: 100%;
    background: url('../img/bg-2.png') center/cover ;
    display: flex;
    flex-direction: column;
    padding-top: 10em;
    align-items: center;
    position: relative;
    
}
footer .footer-top .content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    text-align: center;
}
footer .footer-top .content h2{
    letter-spacing: 0px;
    line-height: 40px;
    color: #ffffff;
    font-weight: 400;
    font: 45px "Open Sans";
}
footer .footer-top .content p{
    width: 55%;
    letter-spacing: 0px;
    line-height: 23px;
    color: #ffffff;
    font-weight: 400;
    font: 16px "Open Sans";

}
footer .footer-top img{
    position: absolute;
    bottom: -1em;
    z-index: 100;
}
footer .footer-top .red{
    width: 100%;
    height: 5em;
    background: #fd634d;
    position: absolute;
    bottom: 0;
}
footer .footer-top .red:after{
    content: '';
    display: table;
    clear: both;
}
footer .footer-bottom{
    width: 100%;
    background: #0c1119;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .footer-bottom .content{
    width: 78%;
    display: flex;
    
}
.left{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
}
.left h4{
    line-height: 12px;
    color: #ffffff;
    font-weight: 400;
    font: 15px "Open Sans";
}
.left p{
    line-height: 24px;
    color: #8297a7;
    font-weight: 400;
    font: 14px "Open Sans";
}
.right{
    width: 65%;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    color: #fff;
}
.social-media{
    display: flex;
    justify-content: space-between;
}
.top{
    display: flex;
    justify-content: space-between;
    width: 100%;
}