@media only screen and (min-width: 992px) {
    /* cards-1 section */
    .cards {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
    }
    .cards .card {
        width: 20%;
        height: 40vh;
        background: #f1f4fb;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        border: none;
    }
    .card img {
        width: 4rem;
    }
}