/* header */

.container header {
    width: 100%;
    height: 70vh;
    background: bisque;
    margin-bottom: 1rem;
}

.container header .header-top {
    width: 100%;
    height: 10vh;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background: transparent;
}

.container header .header-bottom {
    width: 100%;
    height: 50vh;
    margin-bottom: 50px;
}

.container header .swiper {
    width: 100%;
    height: 100%;
}

.container header .swiper .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.container header .swiper .swiper-slide .card {
    width: 100%;
    height: 50vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: #eee;
    border-radius: 0;
    /* background: url("../img/atb_productpage_istehlak_az_july.png") no-repeat; */
    /* background-size: cover; */
    /* background-position: right 100% bottom; */
    /* overflow: hidden; */
}

.container header .swiper .swiper-slide .card h2 {
    position: absolute;
    top: 100px;
    left: 16px;
    font-size: 18px;
}

.container header .swiper .swiper-slide .card img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}