@media only screen and (min-width: 992px) {
    .end-icons {
        width: 100%;
        position: fixed;
        bottom: 0;
        display: flex;
        justify-content: space-between;
        padding: 1rem;
    }
    .userway {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .userway i {
        font-size: 2.2rem;
        color: #0048ff;
        border: 4px solid #0048ff;
        border-radius: 50%;
        padding: 0.1rem;
    }
    .userway:hover i {
        transform: scale(1.1);
    }
    .chat {
        padding: 1rem;
        border-radius: 50%;
        background: #60269e;
        cursor: pointer;
    }
    .chat i {
        font-size: 2rem;
        color: #fff;
    }
}