* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --milk-text: #dedede;
    --white-text: #fff;
    --green-text: #68ab94;
    --gray-bg: #312f30;
}

.white-text {
    color: var(--white-text);
}

.milk-text {
    color: var(--milk-text);
}

.green-bg {
    background: var(--green-text);
}

.gray-bg {
    background: var(--gray-bg);
}

.font {
    font: 1em Arial, Helvetica, sans-serif;
}

.flex {
    display: flex;
}

header {
    justify-content: space-between;
    width: 100%;
    padding: 1em 1.5em;
    align-items: center;
}

.search {
    border-radius: 2px;
}

input,
button {
    border: none;
}

input {
    width: 13em;
    padding-left: 0.5em;
}

button {
    padding: 1em 1.5em;
}

nav {
    display: none;
}

.menu-icon {
    display: inline-block;
}

i {
    font-size: 1.5em;
}

@media screen and (min-width: 768px) {
    header {
        justify-content: space-between;
        padding: 2em 1.5em;
    }
    .menu-icon {
        display: none;
    }
    nav {
        display: flex;
    }
    nav ul {
        display: flex;
    }
    nav ul li {
        margin-right: 2em;
    }
    input {
        font: 0.5em;
    }
    button {
        padding: 1em;
    }
    input {
        width: 18em;
    }
}